<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="price" *ngIf="price$ | async as price">

    <crypto [price]="price"></crypto>

  </div>

</div>




